on:
  # push:
  #   branches:
  #     - 'master'
  pull_request:
    branches:
      - 'main'

jobs:
  sync-chart:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    # - run: >
    #     https://github.com/CottonAcademy/Crazy-Kubernetes.git
    #     rm -rf Crazy-Kubernetes/test
    #     cp test Crazy-Kubernetes/
    #     cd Crazy-Kubernetes/
    #     git commit -t "update ks-core helm chart"
    #     gh pr create
    - run: >
        file_changed=$(git diff --name-only HEAD~1)
        unique_charts=$(echo "$file_changed[@]" | sed 's/^"\|"$//g' | awk -F '/' '{print $1}' | uniq)
        echo $file_changed
        echo $unique_charts
